[submodule "racing-interface"]
	path = racing-interface
	url = git@github.com:kiyiro34/racing-interface.git
	branch = main
[submodule "racing-api"]
	path = racing-api
	url = git@github.com:kiyiro34/racing-api.git
	branch = main
